.wrapper {
    display: grid;
    place-content: center;
    height: 89vh;
}

.form {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.form input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

.form input:focus {
    border: none;
    border-bottom: 1px solid black;
}

.form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: black;
    color:white;
    font-size: 20px;
}

.form button:active {
    box-shadow: 2px 2px 2px grey;
}

.error {
    border-bottom: 1px solid red!important;
}

.errorMessage {
    color:red;
    text-align: center;
}

.successMessage {
    color:green;
    text-align: center;
}